html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    background-color: #e7ede7;
    color: #517551;
    font-family: "Gentium Basic", Georgia, serif;
    font-size: 1em;
    font-weight: 300;
}

b {
    font-weight: 400;
}

a, a:active, a:visited, a:hover {
    font-weight: bold;
    color: #115211;
}

a, a:visited {
    text-decoration: none;
}

a:active, a:hover {
    background-color: #115211;
    color: #D9FDDE;
}

header {
    background-color: #93B392;
    border-bottom: #8AAD89 solid 10px;
    color: #FFF;
    margin-top: 150px;
    text-align: center;
}

header img {
    margin-top: -75px;
}

header img:hover {
    -webkit-transform: rotate(5deg);
       -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
         -o-transform: rotate(5deg);
            transform: rotate(5deg);
}

h1 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 2.5em;
}

h2 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1.8em;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
}

.main {
    background-color: #fff;
    border-bottom: #8AAD89 solid 10px;

}

.about-me {
    text-align: center;
}

@media screen and (min-width: 600px) {
    body {
        font-size: 1.125em;
    }

    .wrapper {
        max-width: 640px;
    }
}